/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

:root {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1, 5;
  font-weight: 400;

  color: #2e2f42;
  background-color: #ffffff;
}
